extends layout

block content

	div.container
		h1=title
		p Willkommen beim Poltern!
		
		- var name= "<em>Tim</em>";
		- var fn = function () { return "Hello, Express!!!! "; };
		- var followerCount = 2;
		- var users = [{name: "Tim", email: "tforkmann@gmail.com"}, {name: "Sarah", email: "spfiliatrault@gmail.com"}]
		style
			li { background: yellow }
		ul#nav
			li.current one
			li !{name}
			li=fn()
				a(href="/other") Go to other  
				p 
					if followerCount === 0
						| You have no followers.
					else if followerCount === 1
						| You have one followers
					else
						| You have #{followerCount} followers.

				ul
				each userObject, i in users
					include user
					
		#myCarousel.carousel.slide
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
				li(data-target='#myCarousel', data-slide-to='2')
			.carousel-inner
				.item.active
					img(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/100%x500/auto/#777:#7a7a7a/text:First slide', alt='First slide')
					.container
						.carousel-caption
							h1 Example headline.
							p
								| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p
								a.btn.btn-large.btn-primary(href='#') Sign up today
				.item
					img(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide', alt='Second slide')
					.container
						.carousel-caption
							h1 Another example headline.
							p
								| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p
								a.btn.btn-large.btn-primary(href='#') Learn more
				.item
					img(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide', alt='Third slide')
					.container
						.carousel-caption
							h1 One more for good measure.
							p
								| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p
								a.btn.btn-large.btn-primary(href='#') Browse gallery
			a.left.carousel-control(href='#myCarousel', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(href='#myCarousel', data-slide='next')
				span.glyphicon.glyphicon-chevron-right